{% extends "base.html" %}

{% block title %}Crear Miembro{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1 class="h3">Crear Nuevo Miembro</h1>
    </div>
    <div class="card-body">
        <form action="{{ url_for('bp_miembro.create') }}" method="POST">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo:</label>
                <input type="email" class="form-control" name="email" placeholder="Correo" required>
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input type="text" class="form-control" name="telefono" placeholder="Teléfono">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{{ url_for('bp_miembro.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}